<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>O nas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="/css/homePage.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
</head>

    <body>

    <header class="header">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">

        <a href="/" class="logo">Auto-Serwis</a>
        <nav class="nav-items">
            <a href="/">Strona Główna</a>
            <a href="#">Sprawdź usługę</a>
            <a href="/about-us/onas">O nas</a>
            <a href="/about-us/kontakt">Kontakt</a>
        </nav>
    </header>

        <main>

            <div class="intro" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/images/background-two.jpg);">
                <h1>Auto serwis!</h1>

                <h2 id="nameOfPage" th:text="${pageName}"></h2>

                <p>Najlepszy serwis w Twojej okolicy!</p>
                <button id="zamowWizyte">Umów wizytę</button>

                <!--Remove button from aboutPage-->
                <script>
                    document.addEventListener("DOMContentLoaded", function(){
                        const element = document.getElementById('zamowWizyte');
                        const element1 = document.getElementById('nameOfPage');
                        if(element1.value != ""){
                            element.remove();
                        }
                    });
                </script>
            </div>


            <div class="about-me">

                <img src="/images/aboutUs.jpg" alt="me">

                <div class="about-me-text">
                    <h2>Dalej się zastanawiasz?</h2>
                    <p>
                        <i>Jako jedyny serwis w Polsce</i>, oferujemy Państwu system przypomnień oraz darmowe ekspertyzy w ramach karty stały klient!
                        <br>
                        To zaszczyt z Państwem pracować, za co serdecznie dziękujemy.
                        <br>Co zyskasz?
                    <ul>
                        <li>Czas - zadbamy o Ciebie, o planowane zadania oraz ekspertyzy</li>
                        <li>Pieniądze - bo z nami taniej</li>
                        <li>Przypomnienia o wizytach oraz potrzebnych zabiegach</li>
                        <li>Pewność - zdobądź zaufanie do nas i swojego auta!</li>
                    </ul>
                    </p>
                </div>
            </div>

            <!--Google MAPS-->
            <!--Google MAPS-->
            <!--Google MAPS-->
            <!--Google MAPS-->


            <div class="about-me">

                <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Politechnika%20Lubelska&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:600px;}</style></div></div>
                <div>&nbsp;</div>

                <div class="about-me-text" style="margin-left:10px;">
                    <h2>Jedna lokalizacja!</h2>

                    <div style="font-size: 25px;" >
                        <p>
                           Zapraszamy pod wskazany adres!
                        </p>
                        <i class="far fa-phone-alt"></i>
                        <a href="tel:81 85 74 687">Zadzwoń teraz!</a>
                    </div>
                </div>
            </div>


            <!--Section: Contact v.2-->
            <!--Section: Contact v.2-->
            <!--Section: Contact v.2-->


            <div class="about-me">
                <!--Section: Contact v.2-->
                <section class="mb-4">

                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Napisz do nas</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Czy masz jakieś pytania?
                        Opisz swój problem i napisz do nas! Tylko dzięki dobremu opisowi uzyskasz dobrą odpowiedź!</p>

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-9 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" action="#" method="POST">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="name" name="name" class="form-control">
                                            <label for="name" class="">Twoje imię</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="email" name="email" class="form-control">
                                            <label for="email" class="">Twój email</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <input type="text" id="subject" name="subject" class="form-control">
                                            <label for="subject" class="">Temat</label>
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form">
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                            <label for="message">Twoja wiadomość</label>
                                        </div>

                                    </div>
                                </div>
                                <!--Grid row-->

                            </form>

                            <div class="text-center text-md-left">
                                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Wyślij</a>
                            </div>
                            <div class="status"></div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-3 text-center">
                            <ul class="list-unstyled mb-0">
                                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                    <p>Lublin, Nadbystrzycka 32B</p>
                                </li>

                                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                    <p>
                                        <a href="tel:81 85 74 687">+ 81 85 74 687</a>
                                    </p>
                                </li>

                                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                    <p>
                                        <a href = "mailto:autoserwis@onecior.pl?subject = Feedback&body = Message">
                                            Wyślij maila - autoserwis@onecior.pl
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->

                    </div>

                </section>

            </div>


        </main>

    </body>

<div class="container" th:include="layout::footer"></div>
</html>