<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head">
</head>
    <body style="max-width:60%; margin:auto; margin-top:100px;">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">


        <img src="/images/icon_main_admin_page.jpg" alt="Icon Of Service" style="max-width: 15%; margin:auto;">

        <h1>Logowanie do panelu administracyjnego</h1>
        <h2>Auto-Serwis - licencja standardowa</h2><br>


        <form th:action="@{/login}" method="POST">
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login" aria-describedby="emailHelp" name="login">
                <div id="emailHelp" class="form-text">Nie udostępniamy danych administracyjnych użytkownikom.</div>
            </div>
            <div class="mb-3">
                <label for="passwd" class="form-label">Hasło</label>
                <input type="password" class="form-control" id="passwd" name="passwd">
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
            <br>
        </form>
        <br><br>
        <span th:if="${loginError}" class="alert alert-primary" role="alert">Błędna nazwa lub hasło użytkownika.</span>


        <div th:include="adminLayout :: footer"></div>
    </body>
</html>