<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:include="adminLayout :: head">
</head>

    <body>
    <header class="header" th:fragment="headerPanel">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">

        <span>
            <a href="/adminMainPage" class="logo">Panel Administracyjny Auto-Serwis</a>
            <img src="/images/car_icon_main.png" alt="Car icon" style="max-width: 4%;">
        </span>
        <div>
            Witaj <b><span style="font:" sec:authentication="name"></span></b>!
        </div>

        <nav sec:authorize="isAuthenticated()" class="nav-items">
            <a href="/adminPanel/dodaj-zgloszenie">Dodaj zgłoszenie</a>
            <a href="#">Katalog części</a>
        </nav>
    </header>

    <main style="max-width: 60%; margin: auto; text-align:center;">
        <h3 style="margin-bottom:20px;margin-top:20px;">Wyszukiwanie zaawansowane</h3>
        <div style="margin-top:30px;  display: flex; justify-content: space-between; ">

            <form action="/filtruj/telefon" method="post">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="telefonIDspan">Telefon</span>
                            <input id="value" name="value" type="text" class="form-control" aria-label="Sizing example input"
                                            placeholder="695 125 751" aria-describedby="telefonIDspan">
                            <button type="submit" class="btn btn-outline-primary">Szukaj</button>
                </div>
            </form>

            <form action="/filtruj/id" method="post">
                <div class="input-group input-group-sm mb-3" >
                    <span class="input-group-text" id="inputTelefonSpan">ID</span>

                    <input id="value" name="value" type="text" class="form-control" aria-label="Sizing example input"
                           placeholder="0" aria-describedby="inputTelefonSpan">
                        <button type="submit" class="btn btn-outline-primary">Szukaj</button>
                </div>
            </form>

            <form action="/filtruj/marka" method="post">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputMarkaSpan">Marka</span>

                    <input id="value" name="value" type="text" class="form-control" aria-label="Sizing example input"
                           placeholder="Ford" aria-describedby="inputMarkaSpan">
                        <button type="submit" class="btn btn-outline-primary">Szukaj</button>
                </div>
            </form>

            <form action="/adminMainPage" method="get">
                <button type="submit" class="btn btn-outline-primary">Wyczyść</button>
            </form>

        </div>


        <h4 style="margin-bottom:20px;margin-top:20px;">Lista zgłoszeń</h4>

        <table class="table table-hover" style="margin-top:20px;">
            <thead>
            <tr>
                <th>Zgłoszenie ID</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Typ</th>
                <th>Telefon</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tr th:each="zgloszenie : ${zgloszenia}">
                <td class="align-middle" th:text="${zgloszenie.id}"></td>
                <td class="align-middle" th:text="${zgloszenie.marka}"></td>
                <td class="align-middle" th:text="${zgloszenie.model}"></td>
                <td class="align-middle" th:text="${zgloszenie.typ}"></td>
                <td class="align-middle" th:text="${zgloszenie.telefon}"></td>
                <td class="align-middle">
                    <form th:action="@{/adminEdit/{id}(id=${zgloszenie.id})}" method="post">
                        <button class="btn btn-info" type="submit" onClick="return confirm('Edytować element?')"/> Edytuj </button>
                    </form>
                </td>
                <td class="align-middle">
                    <form th:action="@{/adminRemove/{id}(id=${zgloszenie.id})}" method="post">
                        <button class="btn btn-danger" type="submit" onClick="return confirm('Usunąć element?')"/> Usuń </button>
                    </form>
                </td>
            </tr>
        </table>



    </main>


    <div th:include="adminLayout :: footer"  style="max-width: 60%; margin: auto; text-align:center;" ></div>
    </body>
</html>