<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Auto-Serwis</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">
    </head>


<div class="container"  th:fragment="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/client/showClients"><p class="text-muted">&copy;Kacper Kisielewski, 2023</p></a>
        </div>
        <div class="col mb-3">
        </div>

        <div class="col mb-3">
            <h5>Usługi</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Zawieszenie</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Silnik</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Elektronika</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tuning</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Serwis</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Klient</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Umów wizytę</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Status naprawy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Zgłoś reklamację</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Poproś o wycenę</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Opinie klientów</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Firma</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Strona Główna</a></li>
                <li class="nav-item mb-2"><a href="/about-us/onas" class="nav-link p-0 text-muted">O nas</a></li>
                <li class="nav-item mb-2"><a href="/about-us/kontakt" class="nav-link p-0 text-muted">Kontakt</a></li>
                <li class="nav-item mb-2"><a href="/galleryPage" class="nav-link p-0 text-muted">Zespół</a></li>
                <li class="nav-item mb-2"><a href="/about-us/faqs" class="nav-link p-0 text-muted">FAQs</a></li>
            </ul>
        </div>
    </footer>
</div>

</html>