<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Usługi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="/css/homePage.css" rel="stylesheet">
</head>

  <body>
    <header class="header">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
      <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">

      <a href="/" class="logo">Auto-Serwis</a>
      <nav class="nav-items">
        <a href="/">Strona Główna</a>
        <a href="#">Sprawdź usługę</a>
        <a href="/about-us/onas">O nas</a>
        <a href="/about-us/kontakt">Kontakt</a>
      </nav>
    </header>

    <main>
      <div class="intro">
        <h1>Auto serwis!</h1>
        <p>Najlepszy serwis w Twojej okolicy!</p>
      </div>

      <div class="about-me">

        <div class="about-me-text">
          <h2>Wymiana oleju! Promocja już dzisiaj!</h2>
          <p>
            Rok 2023 to czas zmian! Zmień olej w Auto-Serwis! <br>
            Poprawa efektywności silnika: Olej jest odpowiedzialny za smarowanie i chłodzenie silnika,<br> dlatego regularna wymiana oleju pomaga utrzymać silnik w dobrym stanie i zwiększa jego efektywność.
            <br>
            Dłuższa żywotność silnika: Regularna wymiana oleju pomaga usunąć zanieczyszczenia i osady,<br> które mogą uszkodzić silnik. Dzięki temu silnik jest bardziej odporny na awarie i przedłuża się jego żywotność.
            <br>
            Oszczędność paliwa: Czysty i odpowiedni olej pomaga silnikowi<br> pracować bardziej efektywnie, co pozytywnie wpływa na zużycie paliwa.
          </p>
        </div>

        <img src="/images/oil.png" alt="oil">

      </div>

      <div class="achievements">

        <div class="work">
          <i class="fas fa-car-alt"></i>
          <p class="work-heading">Wymiana Opon</p>
          <p class="work-text">
            Wymiana opon to nasza domena!<br> Realizowane szybko usługi wymiany opon tylko u nas! <br>Zapraszamy do kontaktu!</p>
        </div>

        <div class="work">
          <i class="fas fa-car-crash"></i>
          <p class="work-heading">Profesjonalizm</p>
          <p class="work-text">
            Posiada wykwalifikowany personel oraz nowoczesny<br> sprzęt diagnostyczny i narzędziowy,<br>
            co pozwala na szybką i skuteczną naprawę <br>różnego rodzaju usterek.</p>
        </div>
        <div class="work">
          <i class="fas fa-car-alt"></i>
          <p class="work-heading">Szeroki zakres usług</p>
          <p class="work-text">
            Oferta firmy obejmuje między innymi naprawy silników,<br> skrzyń biegów, układów hamulcowych i klimatyzacji,<br>
            a także wymianę oleju i filtrów.<br> AutoNaprawa oferuje również usługi wulkanizacji<br> oraz przeglądy techniczne.
          </p>
        </div>
      </div>

      <div class="about-me">

        <div class="about-me-text">
          <h2>Potrzebujesz porady?</h2>
          <p>
            Jako jeden z nielicznych serwisów, służymy poradą telefoniczną 24h/7dni w tygodniu.<br>
            Zadzwoń, zapytaj - my zajmiemy się resztą!
          </p>
        </div>
        <img src="/images/notify.jpg" alt="Notify">

      </div>

      <div class="about-me">
        <img src="/images/elektro.jpg" alt="Elektromechanika">

        <div class="about-me-text">
          <h2>Elektromechanika</h2>
          <p>
            Usługa elektromechnika obejmuje naprawy i konserwacje układów <br>elektrycznych i elektronicznych w samochodach.<br>
            Obejmuje ona między innymi naprawy układów elektrycznych,<br>diagnostyka układów elektrycznych, <br> wymiana i naprawa podzespołów elektrycznych.<br>
          </p>
        </div>
      </div>

      <div class="achievements">
        <div class="work">
          <i class="fas fa-cart-plus"></i>
          <p class="work-heading">Indywidualne podejście</p>
          <p class="work-text">
            Wszystkie naprawy są wykonywane zgodnie z najwyższymi standardami jakości,
            <br>a klienci mogą liczyć na indywidualne podejście i fachową poradę.
          </p>
        </div>
        <div class="work">
          <i class="fas fa-skiing"></i>
          <p class="work-heading">Gwarancja</p>
          <p class="work-text">Oferuje gwarancję na wszystkie wykonane naprawy</p>
        </div>
        <div class="work">
          <i class="far fa-credit-card"></i>
          <p class="work-heading">Dostępność części zamiennych</p>
          <p class="work-text">
            Klienci mogą zobaczyć części zamienne przed ich zakupem
          </p>
        </div>
      </div>

      <div class="about-me">

        <div class="about-me-text">
          <h2>Silnik odmawia?</h2>
          <p>
            Staraj się unikać większych prędkości.<br> Wezwij pomoc drogową lub od razu udaj się do mechanika.<br> Ponownie uruchamiasz silnik.<br>
            Ikona silnika jest zapalona,<br>ale silnik pracuje miarowo<br> i bez problemu „wchodzi” na wysokie obroty
          </p>
        </div>

        <img src="/images/silnik.jpg" alt="Notify">

      </div>

      <div class="about-me">
        <img src="/images/tuning.jpg" alt="Notify">

        <div class="about-me-text">
          <h2>Tuning auta</h2>
          <p>
            Jest to poprawa dotychczasowego wyglądu auta,<br> poprzez wyposażenie go w nowe dodatki, <br>
            których nie ma w oryginalnej wersji modelu pojazdu.<br>
            Modyfikacje te stosuje się w celu nadania samochodowi indywidualnego wyglądu, <br>
            zależnego od gustu i wymagań
          </p>
        </div>
      </div>

    </main>

    </body>

  <div class="container" th:include="layout::footer"></div>
</html>